<div class="card mb-3 mb-lg-5">
  <!-- Header -->
  <div class="card-header">
    <h5 class="card-header-title">Front emails</h5>

    <a
      id="toggleAll3"
      class="js-toggle-state link-underline"
      href="javascript:;"
      data-hs-toggle-state-options='{
         "targetSelector": "#customSwitch5, #customSwitch6, #customSwitch7, #customSwitch8"
       }'
    >
      <span class="link-underline-toggle-default">Toggle all</span>
      <span class="link-underline-toggle-toggled">Untoggle all</span>
    </a>
  </div>
  <!-- End Header -->

  <div class="card-body">
    <div class="mb-3">
      <small class="card-subtitle">Subscribe me to:</small>
    </div>

    <!-- Checkbox Switch -->
    <label class="toggle-switch d-flex" for="customSwitch5">
      <input
        type="checkbox"
        class="toggle-switch-input"
        id="customSwitch5"
        checked
      />
      <span class="toggle-switch-label">
        <span class="toggle-switch-indicator"></span>
      </span>
      <span class="toggle-switch-content">
        <span class="d-block">Company news</span>
        <small class="d-block text-muted"
          >Get Front news, announcements, and product updates</small
        >
      </span>
    </label>
    <!-- End Checkbox Switch -->

    <hr class="my-3" />

    <!-- Checkbox Switch -->
    <label class="toggle-switch d-flex" for="customSwitch6">
      <input type="checkbox" class="toggle-switch-input" id="customSwitch6" />
      <span class="toggle-switch-label">
        <span class="toggle-switch-indicator"></span>
      </span>
      <span class="toggle-switch-content">
        <span class="d-block"
          >Replay <span class="badge badge-success ml-1">New</span></span
        >
        <small class="d-block text-muted"
          >A weekly email featuring popular shots</small
        >
      </span>
    </label>
    <!-- End Checkbox Switch -->

    <hr class="my-3" />

    <!-- Checkbox Switch -->
    <label class="toggle-switch d-flex" for="customSwitch7">
      <input type="checkbox" class="toggle-switch-input" id="customSwitch7" />
      <span class="toggle-switch-label">
        <span class="toggle-switch-indicator"></span>
      </span>
      <span class="toggle-switch-content">
        <span class="d-block"
          >Courtside <span class="badge badge-success ml-1">New</span></span
        >
        <small class="d-block text-muted"
          >A weekly email featuring the latest stories from our blog</small
        >
      </span>
    </label>
    <!-- End Checkbox Switch -->

    <hr class="my-3" />

    <!-- Checkbox Switch -->
    <label class="toggle-switch d-flex" for="customSwitch8">
      <input type="checkbox" class="toggle-switch-input" id="customSwitch8" />
      <span class="toggle-switch-label">
        <span class="toggle-switch-indicator"></span>
      </span>
      <span class="toggle-switch-content">
        <span class="d-block">Weekly jobs</span>
        <small class="d-block text-muted">Weekly digest of design jobs</small>
      </span>
    </label>
    <!-- End Checkbox Switch -->
  </div>
</div>
