<div class="card mb-3 mb-lg-5">
  <div class="card-header">
    <h5 class="card-header-title">Social accounts</h5>
  </div>

  <!-- Body -->
  <div class="card-body">
    <form>
      <div
        class="list-group list-group-lg list-group-flush list-group-no-gutters"
      >
        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <i class="fa fa-twitter list-group-icon mt-1"></i>
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col-sm mb-1 mb-sm-0">
                  <h6 class="mb-0">Twitter</h6>
                  <a class="small" href="#">www.twitter.com/htmlstream</a>
                </div>

                <div class="col-sm-auto">
                  <a class="btn btn-xs btn-white" href="javascript:;"
                    >Disconnect</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->

        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <i class="fa fa-facebook list-group-icon mt-1"></i>
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col-sm mb-1 mb-sm-0">
                  <h6 class="mb-0">Facebook</h6>
                  <a class="small" href="#">www.facebook.com/htmlstream</a>
                </div>

                <div class="col-sm-auto">
                  <a class="btn btn-xs btn-white" href="javascript:;"
                    >Disconnect</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->

        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <i class="fa fa-dribbble list-group-icon mt-1"></i>
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col-sm mb-1 mb-sm-0">
                  <h6 class="mb-0">Dribbble</h6>
                  <small>Not connected</small>
                </div>

                <div class="col-sm-auto">
                  <a class="btn btn-xs btn-white" href="javascript:;"
                    >Connect</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->

        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <i class="fa fa-linkedin list-group-icon mt-1"></i>
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col-sm mb-1 mb-sm-0">
                  <h6 class="mb-0">Linkedin</h6>
                  <a class="small" href="#">www.linkedin.com/htmlstream</a>
                </div>

                <div class="col-sm-auto">
                  <a class="btn btn-xs btn-white" href="javascript:;"
                    >Disconnect</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->

        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <i class="fa fa-behance list-group-icon mt-1"></i>
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col-sm mb-1 mb-sm-0">
                  <h6 class="mb-0">Behance</h6>
                  <small>Not connected</small>
                </div>

                <div class="col-sm-auto">
                  <a class="btn btn-xs btn-white" href="javascript:;"
                    >Connect</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->
      </div>
    </form>
  </div>
  <!-- End Body -->
</div>
