<div
            class="media align-items-center border-top border-bottom py-5 my-8"
          >
            <div class="avatar avatar-circle avatar-xl">
              <img
                class="avatar-img"
                src="{{ user.img }}"
                alt="Image Description"
              />
            </div>
            <div class="media-body ml-3">
              <small class="d-block small font-weight-bold text-cap"
                >Written by</small
              >
              <h3 class="mb-0">
                <a href="blog-profile.html">{{ user.name }}</a>
                <button
                  type="button"
                  class="btn btn-xs btn-soft-primary font-weight-bold transition-3d-hover py-1 px-2 ml-1"
                >
                  Follow
                </button>
              </h3>
              <p class="mb-0">
                {{ user.description }}
              </p>
            </div>
          </div>