<!-- Blog Listing Section -->
<div class="container space-bottom-3">
  <div class="w-md-75 w-lg-60 mx-md-auto">
    <article class="card mb-3 mb-sm-5" *ngFor="let article of articles">
      <img class="card-img-top" [src]="article.img" alt="Image Description" />

      <div class="card-body">
        {{ article.categorie }}

        <h3>
          <a
            class="text-inherit"
            [routerLink]="['/article']"
            (click)="showArticle(article)"
          >
            {{ article.title }}</a
          >
        </h3>

        <p>
          {{ article.resume }}
        </p>
      </div>
    </article>
  </div>
</div>
