
    <!-- ========== HEADER ========== -->
    <header
      id="header"
      class="header header-box-shadow header-box-shadow-on-scroll header-floating-lg"
    >
      <div id="logoAndNav" class="container">
        <div class="header-section header-floating-inner mx-lg-n3">
          <!-- Nav -->
          <nav class="js-mega-menu navbar navbar-expand-lg">
            <!-- Logo -->
            <a class="navbar-brand" href="#" aria-label="Front">
              <img src="./assets/svg/logos/darkLogo.svg" alt="Logo" />
            </a>
            <!-- End Logo -->

            <!-- Responsive Toggle Button -->
            <button
              type="button"
              class="navbar-toggler btn btn-icon btn-sm rounded-circle"
              aria-label="Toggle navigation"
              aria-expanded="false"
              aria-controls="navBar"
              data-toggle="collapse"
              data-target="#navBar"
            >
              <span class="navbar-toggler-default">
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 18 18"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill="currentColor"
                    d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"
                  />
                </svg>
              </span>
              <span class="navbar-toggler-toggled">
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 18 18"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill="currentColor"
                    d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"
                  />
                </svg>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->

            <!-- Navigation -->
            <div id="navBar" class="collapse navbar-collapse">
              <div class="navbar-body header-abs-top-inner">
                <ul class="js-scroll-nav navbar-nav">
                  <li>
                    <form
                      class="form-inline input-group input-group-sm input-group-merge input-group-flush d-none d-lg-flex ml-auto"
                      style="max-width: 300px"
                    >
                      <input
                        class="js-hs-docs-search form-control ui-autocomplete-input"
                        type="text"
                        placeholder="Search..."
                        aria-label="Search..."
                        aria-describedby="docsSearch"
                        data-url="#"
                        autocomplete="off"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text" id="docsSearch">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                      <ul
                        id="ui-id-1"
                        tabindex="0"
                        class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front"
                        style="display: none"
                      ></ul>
                    </form>
                  </li>
                  <li class="navbar-nav-item active">
                    <a class="nav-link" href="#homeSection">General feed</a>
                  </li>
                  <li class="navbar-nav-item">
                    <a class="nav-link" href="#howItWorksSection">Special feed</a>
                  </li>
                  <li class="navbar-nav-item">
                    <a class="nav-link" href="#featuresSection">Profile</a>
                  </li>
                  <li class="navbar-nav-item">
                    <!-- Blog -->
                  <li class="hs-has-sub-menu navbar-nav-item ml-4">
                    <a id="blogMegaMenu" class="hs-mega-menu-invoker" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu"><a href="#">
                        <div class="avatar avatar-circle mr-3">
                          <img
                            class="avatar-img"
                            src="./assets/img/avatar-2.jpg"
                            alt="Image Description"
                          />
                        </div>
                      </a></a>

                    <!-- Blog - Submenu -->
                    <div id="blogSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                      <a class="dropdown-item" href="#">Profile</a>
                      <a class="dropdown-item" href="#">Account settings</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Log out</a>
                    </div>
                    <!-- End Submenu -->
                  </li>
                  <!-- End Blog -->
                 
                </ul>
              </div>
            </div>
            <!-- End Navigation -->
          </nav>
          <!-- End Nav -->
        </div>
      </div>
    </header>
    <!-- ========== END HEADER ========== -->