<main id="content" role="main">
  <!-- User Profile Section -->
  <div class="container space-top-5 space-bottom-2">
    <div class="border-bottom w-md-75 w-lg-60 space-bottom-2 mx-md-auto">
      <div class="media d-block d-sm-flex">
        <div
          class="position-relative mx-auto mb-3 mb-sm-0 mr-sm-4"
          style="width: 160px; height: 160px"
        >
          <img
            class="img-fluid rounded-circle"
            src="{{ user.photo }}"
            alt="Image Description"
            width="160"
            height="160"
          />
          <img
            class="bg-white position-absolute bottom-0 right-0 rounded-circle p-1"
            src="./assets/svg/illustrations/top-vendor.svg"
            alt="Icon"
            width="36"
            height="36"
            title="Top Writer"
          />
        </div>

        <div class="media-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h1 class="h3">{{ user.fname }} {{ user.lname }}</h1>
            <div class="d-block">
              <button
                type="button"
                class="btn btn-xs btn-outline-primary font-weight-bold text-nowrap ml-1"
                (click)="show()"
              >
                {{ showpost ? "Done" : "New Post" }}
              </button>
            </div>
          </div>

          <div class="row text-body font-size-1 mb-2">
            <div class="col-auto">
              <span class="h6">{{ user.posts }}</span>
              <span>Posts</span>
            </div>
            <div class="col-auto">
              <span class="h6">{{ user.followers }}</span>
              <span>Followers</span>
            </div>
            <div class="col-auto">
              <span class="h6">{{ user.following }}</span>
              <span>Following</span>
            </div>
          </div>

          <p class="mb-0">
            {{ user.bio }} <br />
            {{ user.mail }}
          </p>
        </div>
      </div>
      <app-newpost *ngIf="showpost"></app-newpost>
    </div>
  </div>
</main>
