<header
  class="header header-box-shadow header-box-shadow-on-scroll header-floating-lg js-header-fix-moment"
>
  <div id="logoAndNav" class="container">
    <div class="header-section header-floating-inner mx-lg-n3">
      <!-- Nav -->
      <nav
        class="navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal"
      >
        <!-- Logo -->
        <a class="navbar-brand" aria-label="Front" [routerLink]="['']">
          <img src="./assets/svg/logos/darkLogo.svg" alt="Logo" />
          
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse">
          <div class="navbar-body header-abs-top-inner">
            <ul class="navbar-nav">
              <li>
                <a
                  class="nav-link"
                  [routerLink]="['']"
                  [routerLinkActiveOptions]="{exact: true}"
                  routerLinkActive="active text-primary"
                  *ngIf="!isAuthenticated"
                  >Home</a
                >
              </li>
              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['feed']"
                  routerLinkActive="active text-primary"
                  *ngIf="isAuthenticated"
                  >Feed</a
                >
              </li>
              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['profile']"
                  routerLinkActive="active text-primary"
                  *ngIf="isAuthenticated"
                  >Profile</a
                >
              </li>
              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['settings/personalinfo']"
                  routerLinkActive="active text-primary"
                  *ngIf="isAuthenticated"
                  >Settings</a
                >
              </li>

              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['auth']"
                  routerLinkActive="active text-primary"
                  *ngIf="!isAuthenticated"
                  >Authenticate</a
                >
              </li>

              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  routerLinkActive="active"
                  *ngIf="isAuthenticated"
                  (click)="onLogout()"
                  >Logout</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
