<header
  id="header"
  class="header header-box-shadow header-box-shadow-on-scroll header-floating-lg js-header-fix-moment"
>
  <div id="logoAndNav" class="container">
    <div class="header-section header-floating-inner mx-lg-n3">
      <!-- Nav -->
      <nav
        class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal"
      >
        <!-- Logo -->
        <a class="navbar-brand" aria-label="Front" [routerLink]="['/']">
          <img src="./assets/svg/logos/darkLogo.svg" alt="Logo" />
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse">
          <div class="navbar-body header-abs-top-inner">
            <ul class="js-scroll-nav navbar-nav">
              <li>
                <form
                  class="form-inline input-group input-group-sm input-group-merge input-group-flush d-none d-lg-flex ml-auto"
                  style="max-width: 300px"
                >
                  <input
                    class="js-hs-docs-search form-control ui-autocomplete-input"
                    type="text"
                    placeholder="Search..."
                    aria-label="Search..."
                    aria-describedby="docsSearch"
                    data-url="#"
                    autocomplete="off"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="docsSearch">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </form>
              </li>
              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['feed']"
                  routerLinkActive="active"
                  >Feed</a
                >
              </li>
              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['my-article']"
                  routerLinkActive="active"
                  >My Artical</a
                >
              </li>
              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['account/personalinfo']"
                  routerLinkActive="active"
                  >Profile</a
                >
              </li>
              <li class="navbar-nav-item">
                <!-- Blog -->
              </li>
              <li class="hs-has-sub-menu navbar-nav-item ml-4">
                <a>
                  <div class="avatar avatar-circle mr-3">
                    <img
                      class="avatar-img"
                      src="./assets/img/avatar-2.jpg"
                      alt="Image Description"
                    />
                  </div>
                </a>
              </li>
              <!-- End Blog -->
            </ul>
          </div>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
