<header
  id="header"
  class="header header-box-shadow header-box-shadow-on-scroll header-floating-lg js-header-fix-moment"
>
  <div id="logoAndNav" class="container">
    <div class="header-section header-floating-inner mx-lg-n3">
      <!-- Nav -->
      <nav
        class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal"
      >
        <!-- Logo -->
        <a class="navbar-brand" aria-label="Front" [routerLink]="['/feed']">
          <img src="./assets/svg/logos/darkLogo.svg" alt="Logo" />
        </a>
        <!-- End Logo -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse">
          <div class="navbar-body header-abs-top-inner">
            <ul class="navbar-nav">
              <li>
                <form
                  class="form-inline input-group input-group-sm input-group-merge input-group-flush d-lg-flex"
                  style="max-width: 300px"
                >
                  <input
                    class="js-hs-docs-search form-control ui-autocomplete-input"
                    type="text"
                    placeholder="Search..."
                    aria-label="Search..."
                    aria-describedby="docsSearch"
                    data-url="#"
                    autocomplete="off"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text" id="docsSearch">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
                </form>
              </li>
              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['feed']"
                  routerLinkActive="active"
                  >Feed</a
                >
              </li>
              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['profile']"
                  routerLinkActive="active"
                  >Profile</a
                >
              </li>
              <li class="navbar-nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['settings/personalinfo']"
                  routerLinkActive="active"
                  >Settings</a
                >
              </li>

              <li class="navbar-nav-item">
                <button type="button" class="btn btn-secondary">Log Out</button>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
