<div class="pt-2 mb-11" *ngIf="comments">
  <div class="mb-4">
    <h3>{{ comments.length }} Comments</h3>
  </div>

  <ul class="list-unstyled">
    <!-- Comment -->
    <li class="mb-5" *ngFor="let comment of comments">
      <div class="media align-items-center mb-2">
        <div class="avatar avatar-circle mr-3">
          <img
            class="avatar-img"
            src="{{ comment.img }}"
            alt="Image Description"
          />
        </div>
        <div class="media-body">
          <div class="d-flex justify-content-between align-items-center">
            <span class="h5 mb-0">
              {{ comment.fname }} {{ comment.lname }}</span
            >
            <small class="text-muted">{{ comment.date }}</small>
          </div>
        </div>
      </div>

      <p>
        {{ comment.text }}
      </p>
    </li>
    <!-- End Comment -->
    <form (ngSubmit)="onComment(f)" #f="ngForm">
      <div class="form-row">
        <div class="col-12 mb-sm-3">
          <div class="js-form-message form-group">
            <textarea
              class="form-control"
              rows="7"
              id="descriptionTextarea"
              placeholder="Comment"
              required
              name="text"
              ngModel
            ></textarea>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button
          type="submit"
          class="btn btn-primary btn-wide transition-3d-hover"
          [disabled]="!f.valid"
        >
          Submit
        </button>
      </div>
    </form>
    <!-- End Form -->
  </ul>
</div>
