<div class="pt-2 mb-11">
    <div class="mb-4">
      <h3>{{ comments.length }} Comments</h3>
    </div>
    <ul class="list-unstyled">
        <!-- Comment -->
        <li class="mb-5" *ngFor="let comment of comments">
          <div class="media align-items-center mb-2">
            <div class="avatar avatar-circle mr-3">
              <img
                class="avatar-img"
                src="{{ comment.img }}"
                alt="Image Description"
              />
            </div>
            <div class="media-body">
              <div
                class="d-flex justify-content-between align-items-center"
              >
                <span class="h5 mb-0"> {{ comments.name }}</span>
                <small class="text-muted">{{ comment.date }}</small>
              </div>
            </div>
          </div>

          <p>
            {{ comment.text }}
          </p>

          <a class="font-weight-bold" href="#" >Reply</a>

          <ul class="list-unstyled mt-5" >
            <!-- Comment -->
            <li class="mb-5" *ngIf ="comment.reply  !== null">
              <div class="border-left border-3 pl-4">
                <div class="media align-items-center mb-2">
                  <div class="avatar avatar-circle mr-3">
                    <img
                      class="avatar-img"
                      src="{{ comment.reply.img }}"
                      alt="Image Description"
                    />
                  </div>
                  <div class="media-body">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <span class="h5 mb-0">{{ comment.reply.name }}</span>
                      <small class="text-muted">{{ comment.reply.date }}</small>
                    </div>
                  </div>
                </div>

                <p>{{ comment.reply.text }}.</p>

                <a class="font-weight-bold" href="#">Reply</a>
              </div>
            </li>
            <!-- End Comment -->
          </ul>
        </li>
        <!-- End Comment -->
        <form class="js-validate">
            <div class="form-row">
              <div class="col-12 mb-sm-3">
                <div class="js-form-message form-group">
                  <label class="input-label">Comment</label>
                  <textarea
                    class="form-control"
                    rows="7"
                    id="descriptionTextarea"
                    placeholder="Comment"
                    required
                    data-msg="Please enter your message."
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button
                type="submit"
                class="btn btn-primary btn-wide transition-3d-hover"
              >
                Submit
              </button>
            </div>
          </form>
          <!-- End Form -->
        
      

        