<div class="card mb-3 mb-lg-5">
  <div class="card-header">
    <h5 class="card-title">Basic info</h5>
  </div>

  <div class="card-body">
    <form (ngSubmit)="onSave(f)" #f="ngForm">
      <div class="row form-group">
        <label class="col-sm-3 col-form-label input-label">Profile photo</label>

        <div class="col-sm-9">
          <div class="media align-items-center">
            <label
              class="avatar avatar-xl avatar-circle mr-4"
              for="avatarUploader"
            >
              <img
                class="avatar-img"
                src="{{ user.photo }}"
                alt="Image Description"
              />
            </label>

            <div class="media-body">
              <div
                class="
                  btn btn-sm btn-primary
                  file-attachment-btn
                  mb-2 mb-sm-0
                  mr-2
                "
              >
                Upload Photo
                <input
                  type="file"
                  class="js-file-attach file-attachment-btn-label"
                  id="avatarUploader"
                  data-hs-file-attach-options='{
                            "textTarget": "#avatarImg",
                            "mode": "image",
                            "targetAttr": "src",
                            "allowTypes": [".png", ".jpeg", ".jpg"]
                         }'
                  (change)="onFileChanged($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Form Group -->
      <div class="row form-group">
        <label for="firstNameLabel" class="col-sm-3 col-form-label input-label"
          >Full name
        </label>

        <div class="col-sm-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="ftName"
              placeholder="Fname"
              required
              [(ngModel)]="user.fname"
            />
            <input
              type="text"
              class="form-control"
              name="lName"
              placeholder="Lname"
              required
              [(ngModel)]="user.lname"
            />
          </div>
        </div>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div class="row form-group">
        <label for="emailLabel" class="col-sm-3 col-form-label input-label"
          >Email</label
        >

        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="example@email.com"
            required
            email
            disabled
            [(ngModel)]="user.mail"
          />
        </div>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div
        class="js-add-field row form-group"
        data-hs-add-field-options='{
                "template": "#addPhoneFieldTemplate",
                "container": "#addPhoneFieldContainer",
                "defaultCreated": 0
              }'
      >
        <label for="phoneLabel" class="col-sm-3 col-form-label input-label"
          >Phone <span class="input-label-secondary">(Optional)</span></label
        >

        <div class="col-sm-9">
          <div class="input-group align-items-center">
            <input
              type="text"
              class="form-control"
              name="phone"
              placeholder="xxxxxxxx"
              [(ngModel)]="user.phone"
              value="0"
              minlength="8"
            />
          </div>

          <!-- Container For Input Field -->
          <div id="addPhoneFieldContainer"></div>
        </div>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div class="row form-group">
        <label class="col-sm-3 col-form-label input-label">Gender</label>

        <div class="col-sm-9">
          <div class="input-group input-group-md-down-break">
            <!-- Custom Radio -->
            <div class="form-control">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="gender"
                  id="genderTypeRadio1"
                  [(ngModel)]="user.gender"
                  value="male"
                  required
                />
                <label class="custom-control-label" for="genderTypeRadio1"
                  >Male</label
                >
              </div>
            </div>
            <!-- End Custom Radio -->

            <!-- Custom Radio -->
            <div class="form-control">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="gender"
                  id="genderTypeRadio2"
                  [(ngModel)]="user.gender"
                  value="Female"
                  required
                  checked
                />
                <label class="custom-control-label" for="genderTypeRadio2"
                  >Female</label
                >
              </div>
            </div>
            <!-- End Custom Radio -->
          </div>
        </div>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div class="row form-group">
        <label class="col-sm-3 col-form-label input-label">BIO</label>

        <div class="col-sm-9">
          <!-- Quill -->
          <div class="quill-custom">
            <textarea
              class="form-control"
              rows="3"
              name="bio"
              placeholder="Describe your self here"
              [(ngModel)]="user.bio"
              required
            ></textarea>
          </div>
          <!-- End Quill -->
        </div>
      </div>
      <!-- End Form Group -->
      <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
          Update
        </button>
      </div>
    </form>
  </div>
</div>
