<div class="card mb-3 mb-lg-5">
  <div class="card-header">
    <h5 class="card-title">Basic info</h5>
  </div>

  <!-- Body -->
  <div class="card-body">
    <form (ngSubmit)="onSave(f)" #f="ngForm">
      <!-- Form Group -->
      <div class="row form-group">
        <label class="col-sm-3 col-form-label input-label">Profile photo</label>

        <div class="col-sm-9">
          <div class="media align-items-center">
            <label
              class="avatar avatar-xl avatar-circle mr-4"
              for="avatarUploader"
            >
              <img
                id="avatarImg"
                class="avatar-img"
                src="./assets/img/160x160/img1.jpg"
                alt="Image Description"
              />
            </label>

            <div class="media-body">
              <div
                class="btn btn-sm btn-primary file-attachment-btn mb-2 mb-sm-0 mr-2"
              >
                Upload Photo
                <input
                  type="file"
                  class="js-file-attach file-attachment-btn-label"
                  id="avatarUploader"
                  data-hs-file-attach-options='{
                          "textTarget": "#avatarImg",
                          "mode": "image",
                          "targetAttr": "src",
                          "allowTypes": [".png", ".jpeg", ".jpg"]
                       }'
                />
              </div>

              <a class="btn btn-sm btn-white mb-2 mb-sm-0" href="javascript:;"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div class="row form-group">
        <label for="firstNameLabel" class="col-sm-3 col-form-label input-label"
          >Full name
        </label>

        <div class="col-sm-9">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="firstName"
              id="firstNameLabel"
              placeholder="Fname"
              aria-label="Clarice"
              value="Natalie"
              ngModel
            />
            <input
              type="text"
              class="form-control"
              name="lastName"
              id="lastNameLabel"
              placeholder="Lname"
              aria-label="Boone"
              value="Curtis"
              ngModel
            />
          </div>
        </div>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div class="row form-group">
        <label for="emailLabel" class="col-sm-3 col-form-label input-label"
          >Email</label
        >

        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            name="email"
            id="emailLabel"
            placeholder="example@email.com"
            aria-label="clarice@example.com"
            value="natalie@example.com"
            ngModel
          />
        </div>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div
        class="js-add-field row form-group"
        data-hs-add-field-options='{
              "template": "#addPhoneFieldTemplate",
              "container": "#addPhoneFieldContainer",
              "defaultCreated": 0
            }'
      >
        <label for="phoneLabel" class="col-sm-3 col-form-label input-label"
          >Phone <span class="input-label-secondary">(Optional)</span></label
        >

        <div class="col-sm-9">
          <div class="input-group align-items-center">
            <input
              type="text"
              class="form-control"
              name="phone"
              id="phoneLabel"
              placeholder="xxxxxxxx"
              value="55123456"
              ngModel
            />
          </div>

          <!-- Container For Input Field -->
          <div id="addPhoneFieldContainer"></div>
        </div>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div class="row form-group">
        <label class="col-sm-3 col-form-label input-label">Gender</label>

        <div class="col-sm-9">
          <div class="input-group input-group-md-down-break">
            <!-- Custom Radio -->
            <div class="form-control">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="genderTypeRadio"
                  id="genderTypeRadio1"
                  ngModel
                  value="male"
                />
                <label class="custom-control-label" for="genderTypeRadio1"
                  >Male</label
                >
              </div>
            </div>
            <!-- End Custom Radio -->

            <!-- Custom Radio -->
            <div class="form-control">
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  class="custom-control-input"
                  name="genderTypeRadio"
                  id="genderTypeRadio2"
                  ngModel
                  value="Female"
                  checked
                />
                <label class="custom-control-label" for="genderTypeRadio2"
                  >Female</label
                >
              </div>
            </div>
            <!-- End Custom Radio -->
          </div>
        </div>
      </div>
      <!-- End Form Group -->

      <!-- Form Group -->
      <div class="row form-group">
        <label class="col-sm-3 col-form-label input-label">BIO</label>

        <div class="col-sm-9">
          <!-- Quill -->
          <div class="quill-custom">
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              name="bio"
              ngModel
            ></textarea>
          </div>
          <!-- End Quill -->
        </div>
      </div>
      <!-- End Form Group -->
      <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-primary" type="submit">Save Changes</button>
      </div>
    </form>
  </div>
</div>
