<div class="navbar-expand navbar-expand-lg-collapse-block navbar-light">
  <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
    <!-- Card -->
    <div class="card mb-2">
      <div class="card-body">
        <!-- Avatar -->
        <div class="d-none d-lg-block text-center mb-5">
          <div class="avatar avatar-xxl avatar-circle mb-3">
            <img
              class="avatar-img"
              src="{{ user.photo }}"
              alt="Image Description"
            />
            <img
              class="avatar-status avatar-lg-status"
              src="./assets/svg/illustrations/top-vendor.svg"
              alt="Image Description"
              data-toggle="tooltip"
              data-placement="top"
              title="Verified user"
            />
          </div>

          <h4 class="card-title">{{ user.fname }} {{ user.lname }}</h4>
          <p class="card-text font-size-1">{{ user.mail }}</p>
        </div>
        <!-- End Avatar -->

        <!-- Nav -->
        <h6 class="text-cap small">Account</h6>

        <!-- List -->
        <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['personalinfo']"
              routerLinkActive="active"
            >
              <i class="fa fa-id-card nav-icon"></i> Personal info
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['login-security']"
              routerLinkActive="active"
            >
              <i class="fa fa fa-shield nav-icon"></i> Login &amp; security
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['notifications']"
              routerLinkActive="active"
            >
              <i class="fa fa-bell nav-icon"></i> Notifications
              <span class="badge badge-soft-dark badge-pill nav-link-badge"
                >1</span
              >
            </a>
          </li>
        </ul>
        <!-- End List -->

        <!-- End Nav -->
      </div>
    </div>
    <!-- End Card -->
  </div>
</div>
