<main id="content" role="main" >
    <div class="container space-top-4 space-bottom-2">
        <div class="w-lg-60 mx-lg-auto">
            <div class="mb-4">
                <h1 class="h2">{{ title }}</h1>
            </div>
            <app-author-overview></app-author-overview>
            <p>
                At Front, our mission has always been focused on bringing openness
                and transparency to the design process. We've always believed that
                by providing a space where designers can share ongoing work not only
                empowers them to make better products, it also helps them grow.
                We're proud to be a part of creating a more open culture and to
                continue building a product that supports this vision.
            </p>
        </div>
            <app-img src = './assets/img/1920x800/img5.jpg'></app-img>
                <div class="w-lg-60 mx-lg-auto">
                     <p>
                    As we've grown, we've seen how Front has helped companies such as
                    Spotify, Microsoft, Airbnb, Facebook, and Intercom bring their
                    designers closer together to create amazing things. We've also
                    learned that when the culture of sharing is brought in earlier, the
                    better teams adapt and communicate with one another.
                    </p>
        
                    <p>
                    That's why we are excited to share that we now have a
                    <a href="#">free version of Front</a>, which will allow individual
                    designers, startups and other small teams a chance to create a
                    culture of openness early on.
                    </p>
                    <app-quote></app-quote>
                    <h3>Bringing the culture of sharing to everyone</h3>

                <p>
                    We know the power of sharing is real, and we want to create an
                    opportunity for everyone to try Front and explore how transformative
                    open communication can be. Now you can have a team of one or two
                    designers and unlimited spectators (think PMs, management,
                    marketing, etc.) share work and explore the design process earlier.
                </p>

                <ul class="list-article">
                    <li>
                    Front allows us to collaborate in real time and is a really great
                    way for leadership on the team to stay up-to-date with what
                    everybody is working on," <a href="#">said</a> Stewart
                    Scott-Curran, Intercom's Director of Brand Design.
                    </li>
                    <li>
                    Front opened a new way of sharing. It's a persistent way for
                    everyone to see and absorb each other's work," said David Scott,
                    Creative Director at <a href="#">Eventbrite</a>.
                    </li>
                </ul>
        </div>
            <app-img src = './assets/img/1920x800/img6.jpg'> </app-img>
        <div class="w-lg-60 mx-lg-auto">
                <p>
                  Small teams and individual designers need a space where they can
                  watch the design process unfold, both for themselves and for the
                  people they work with – no matter if it's a fellow designer, product
                  manager, developer or client. Front allows you to invite more people
                  into the process, creating a central place for conversation around
                  design. As those teams grow, transparency and collaboration becomes
                  integrated in how they communicate and work together.
                </p>
      
                <p>
                  We will continue to update <a href="#">Front</a>; if you have any
                  questions or suggestions, please contact us!
                </p>
      
                <p>
                  Follow us on <a href="#">Medium</a>, <a href="#">Twitter</a>,
                  <a href="#">Facebook</a>, <a href="#">YouTube</a>, and
                  <a href="#">Dribbble</a>.
                </p>
            
                <app-badge></app-badge>
                <app-share></app-share>
                <app-writer></app-writer>
                <app-comment></app-comment>
            </div>  
        <app-related></app-related>
    </div>
</main>

