<div>
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="50"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [navigation]="true"
    [pagination]="{ clickable: true }"
  >
    <ng-template swiperSlide>
      <img src="./assets/img/home/img3.jpg" alt="..." />
    </ng-template>
    <ng-template swiperSlide>
      <img src="./assets/img/home/img2.jpg" alt="..." />
    </ng-template>
    <ng-template swiperSlide>
      <img src="./assets/img/home/img1.jpg" alt="..." />
    </ng-template>
  </swiper>
</div>
