<div class="card mb-3 mb-lg-5">
  <div class="card-header">
    <h5 class="card-title">Connected accounts</h5>
  </div>

  <!-- Body -->
  <div class="card-body">
    <p class="card-text">
      Integrated features from these accounts make it easier to collaborate with
      people you know on Front.
    </p>

    <!-- Form -->
    <form>
      <div class="list-group list-group-flush list-group-no-gutters">
        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <img
              class="avatar avatar-xs mr-3"
              src="./assets/svg/brands/google.svg"
              alt="Image Description"
            />
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="mb-0">Google</h6>
                  <small>Calendar and contacts</small>
                </div>

                <div class="col-auto">
                  <!-- Checkbox Switch -->
                  <label class="toggle-switch" for="connectedAccounts1">
                    <input
                      id="connectedAccounts1"
                      type="checkbox"
                      class="toggle-switch-input"
                    />
                    <span class="toggle-switch-label">
                      <span class="toggle-switch-indicator"></span>
                    </span>
                  </label>
                  <!-- End Checkbox Switch -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->

        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <img
              class="avatar avatar-xs mr-3"
              src="./assets/svg/brands/spec.svg"
              alt="Image Description"
            />
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="mb-0">Spec</h6>
                  <small>Project management</small>
                </div>

                <div class="col-auto">
                  <!-- Checkbox Switch -->
                  <label class="toggle-switch" for="connectedAccounts2">
                    <input
                      id="connectedAccounts2"
                      type="checkbox"
                      class="toggle-switch-input"
                    />
                    <span class="toggle-switch-label">
                      <span class="toggle-switch-indicator"></span>
                    </span>
                  </label>
                  <!-- End Checkbox Switch -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->

        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <img
              class="avatar avatar-xs mr-3"
              src="./assets/svg/brands/slack.svg"
              alt="Image Description"
            />
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="mb-0">Slack</h6>
                  <small
                    >Communication
                    <a class="link" href="#">Learn more</a></small
                  >
                </div>

                <div class="col-auto">
                  <!-- Checkbox Switch -->
                  <label class="toggle-switch" for="connectedAccounts3">
                    <input
                      id="connectedAccounts3"
                      type="checkbox"
                      class="toggle-switch-input"
                      checked
                    />
                    <span class="toggle-switch-label">
                      <span class="toggle-switch-indicator"></span>
                    </span>
                  </label>
                  <!-- End Checkbox Switch -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->

        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <img
              class="avatar avatar-xs mr-3"
              src="./assets/svg/brands/mailchimp.svg"
              alt="Image Description"
            />
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="mb-0">Mailchimp</h6>
                  <small>Email marketing service</small>
                </div>

                <div class="col-auto">
                  <!-- Checkbox Switch -->
                  <label class="toggle-switch" for="connectedAccounts4">
                    <input
                      id="connectedAccounts4"
                      type="checkbox"
                      class="toggle-switch-input"
                      checked
                    />
                    <span class="toggle-switch-label">
                      <span class="toggle-switch-indicator"></span>
                    </span>
                  </label>
                  <!-- End Checkbox Switch -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->

        <!-- List Item -->
        <div class="list-group-item">
          <div class="media">
            <img
              class="avatar avatar-xs mr-3"
              src="./assets/svg/brands/google-webdev.svg"
              alt="Image Description"
            />
            <div class="media-body">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="mb-0">Google Webdev</h6>
                  <small
                    >Tools for Web Developers
                    <a class="link" href="#">Learn more</a></small
                  >
                </div>

                <div class="col-auto">
                  <!-- Checkbox Switch -->
                  <label class="toggle-switch" for="connectedAccounts5">
                    <input
                      id="connectedAccounts5"
                      type="checkbox"
                      class="toggle-switch-input"
                    />
                    <span class="toggle-switch-label">
                      <span class="toggle-switch-indicator"></span>
                    </span>
                  </label>
                  <!-- End Checkbox Switch -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End List Item -->
      </div>
    </form>
    <!-- End Form -->
  </div>
  <!-- End Body -->
</div>
