<div
  class="bg-dark"
  style="background-image: url(./assets/svg/components/abstract-shapes-20.svg)"
>
  <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
    <div class="row align-items-center space-top-3">
      <div class="col">
        <div class="d-none d-lg-block">
          <h1 class="h2 text-white">{{ section }}</h1>
        </div>

        <!-- Breadcrumb -->
        <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
          <li class="breadcrumb-item">Account</li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ section }}
          </li>
        </ol>
        <!-- End Breadcrumb -->
      </div>

      <div class="col-auto">
        <div class="d-none d-lg-block">
          <a class="btn btn-sm btn-soft-light" href="#">Log out</a>
        </div>

        <!-- Responsive Toggle Button -->

        <!-- End Responsive Toggle Button -->
      </div>
    </div>
  </div>
</div>
