<div class="border-top border-bottom py-4 mb-5">
    <div class="row align-items-md-center">
      <div class="col-md-7 mb-5 mb-md-0">
        <div class="media align-items-center">
          <div class="avatar avatar-circle">
            <img
              class="avatar-img"
              src="{{ user.img }}"
              alt="Image Description"
            />
          </div>
          <div class="media-body font-size-1 ml-3">
            <span class="h6"
              ><a href="blog-profile.html">{{ user.name }}</a>
              <button
                type="button"
                class="btn btn-xs btn-soft-primary font-weight-bold transition-3d-hover py-1 px-2 ml-1"
              >
                Follow
              </button></span
            >
            <span class="d-block text-muted">{{ date }}</span>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="d-flex justify-content-md-end align-items-center">
          <span class="d-block small font-weight-bold text-cap mr-2"
            >Share:</span
          >

          <a
            class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2"
            href="#"
          >
            <i class="fa fa-facebook-f"></i>
          </a>
          <a
            class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2"
            href="#"
          >
            <i class="fa fa-twitter"></i>
          </a>
          <a
            class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2"
            href="#"
          >
            <i class="fa fa-instagram"></i>
          </a>
          <a
            class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2"
            href="#"
          >
            <i class="fa fa-telegram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Author -->