<div class="card">
  <div class="card-header">
    <h5 class="card-title">Delete your account</h5>
  </div>

  <!-- Body -->
  <div class="card-body">
    <p class="card-text">
      When you delete your account, you lose access to Front account services,
      and we permanently delete your personal data. You can cancel the deletion
      for 14 days.
    </p>

    <div class="form-group">
      <!-- Custom Checkbox -->
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          id="deleteAccountCheckbox"
          (click)="toggleCanDelete()"
          
          
        />
        <label class="custom-control-label" for="deleteAccountCheckbox"
          >Confirm that I want to delete my account.</label
        >
      </div>
      <!-- End Custom Checkbox -->
    </div>
    <div class="d-flex justify-content-end">
      <button 
      type="submit" 
      class="btn btn-danger transition-3d-hover" 
      [disabled]="!canDelete"
      (click)="deleteUser()"
      >
        Delete
      </button>
    </div>
  </div>
  <!-- End Body -->
</div>
