<div
            class="row justify-content-sm-between align-items-sm-center mt-5"
          >
            <div class="col-sm-6 mb-2 mb-sm-0">
              <div class="d-flex align-items-center">
                <span class="d-block small font-weight-bold text-cap mr-2"
                  >Share:</span
                >

                <a
                  class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2"
                  href="#"
                >
                  <i class="fa fa-facebook-f"></i>
                </a>
                <a
                  class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2"
                  href="#"
                >
                  <i class="fa fa-twitter"></i>
                </a>
                <a
                  class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2"
                  href="#"
                >
                  <i class="fa fa-instagram"></i>
                </a>
                <a
                  class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2"
                  href="#"
                >
                  <i class="fa fa-telegram"></i>
                </a>
              </div>
            </div>
            <div class="col-sm-6 text-sm-right">
                <a
                  class="btn btn-xs btn-icon btn-soft-secondary rounded-circle mr-2"
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Bookmark story"
                >
                  <i class="fa fa-bookmark"></i>
                </a>
                <a
                  class="btn btn-xs btn-icon btn-soft-secondary rounded-circle"
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Report story"
                >
                  <i class="fa fa-flag"></i>
                </a>
              </div>
            </div>