
<ul class="list-unstyled mt-5">
    <!-- Comment -->
    <li class="mb-5">
      <div class="border-left border-3 pl-4">
        <div class="media align-items-center mb-2">
          <div class="avatar avatar-circle mr-3">
            <img
              class="avatar-img"
              src="./assets/img/100x100/img11.jpg"
              alt="Image Description"
            />
          </div>
          <div class="media-body">
            <div
              class="d-flex justify-content-between align-items-center"
            >
              <span class="h5 mb-0">Hanna Wolfe</span>
              <small class="text-muted">1 day ago</small>
            </div>
          </div>
        </div>

        <p>Love it Dave! We're all about keeping it up.</p>

        <a class="font-weight-bold" href="#">Reply</a>
      </div>
    </li>
    <!-- End Comment -->
  </ul>