<div class="container">
    <div class="w-lg-75 border-top space-2 mx-lg-auto">
      <div class="mb-3 mb-sm-5">
        <h3>Related stories</h3>
      </div>

      <div class="row">
        <div class="col-md-6" *ngFor="let related of relatedArticles">
          <!-- Blog Card -->
          <article class="border-bottom h-100 py-5" >
            <div class="row justify-content-between">
              <div class="col-6">
                <a
                  class="d-block small font-weight-bold text-cap mb-2"
                  href="#"
                  >{{ related.categorie }}</a
                >
                <h4 class="mb-0">
                  <a class="text-inherit" href="blog-single-article.html"
                    >{{ related.title }}</a
                  >
                </h4>
              </div>

              <div class="col-5">
                <img
                  class="img-fluid rounded"
                  src="{{ related.img }}"
                  alt="Image Description"
                />
              </div>
            </div>
          </article>
          <!-- End Blog Card -->
        </div>   
      </div>
    </div>
</div>

